body {
	background: #eee;
	padding:50px;
	margin: auto;
	max-width: 900px;
	}
.conteudo {
	
	border:  dashed #000;
	background: #FFF;
	max-width: 844px;
	height: 100%;

}
.titulo {
	margin: 2%;
}
#cat {
	border:  solid #000;
	margin: 2%;
	width: 95%;
	height: 75%;
	}

